.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 140px 0px;
}
.firstSection > div{
    width: 30%;
    
}
.leftSection{
    font-size: 3rem;
    
    
}
.leftSection .buttons{
    padding: 50px 0;
}
.leftSection .btn{
    
    padding: 12px;
    background: rgb(121, 175, 154);
    color: rgb(31, 30, 30);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;

    
}
.leftSection .btn a{
    text-decoration: none;
    color: rgb(31, 30, 30);
}
.leftSection .btn:hover{
    /* background-color: rgb(174, 203, 191); */
    background-color: rgb(161, 191, 180);
    font-size: 1.2rem;
}
.leftSection .btn{
    background-color: rgb(146, 175, 163);
    /* font-size: 1.01rem; */
}
.rightSection img{
    width: 80%;
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.9;
}
.secondSection .box{
    display: flex;
    background-color: rgb(203, 188, 188);
    width: 69vw;
    height: 3px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: rgb(203, 188, 188);
    margin: 0 200px;
}
.secondSection .vertical-desc{
    position: relative;
    top: 80px;
    width: 348px;
    font-size: 15px;
    color: gray;
}
.PsecondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.PsecondSection h1{
    margin: 50px 0;
    font-size: 1.9;
}
.PsecondSection .box{
    display: flex;
    background-color: rgb(203, 188, 188);
    width: 70vw;
    height: 3px;
    margin: 56px 0;
    display: flex;
}
.PsecondSection .vertical1{
    height: 93px;
    width: 1px;
    background-color: rgb(203, 188, 188);
    margin: 0 250px;
}
.PsecondSection .vertical1 .vertical-title{
    position: relative;
    top: 34px;
    width: 200px;
}
.PsecondSection .vertical1 .vertical-desc{  
    position: relative;
    top: 48px;
    width: 328px;
    font-size: 15px;
    color: gray;
}
.PsecondSection .vertical2{
    height: 93px;
    width: 1px;
    background-color: rgb(203, 188, 188);
    margin: 0 250px;
}
.PsecondSection .vertical2 .vertical-title{
    position: relative;
    top: 28px;
    width: 220px;
}
.PsecondSection .vertical2 .vertical-desc{
    position: relative;
    top: 43px;
    width: 326px;
    font-size: 15px;
    color: gray;
}
.PsecondSection .vertical3{
    height: 93px;
    width: 1px;
    background-color: rgb(203, 188, 188);
    margin: 0 250px;
}
.PsecondSection .vertical3 .vertical-title{
    position: relative;
    top: 30px;
    width: 200px;
}
.PsecondSection .vertical3 .vertical-desc{
    position: relative;
    top: 47px;
    width: 360px;
    font-size: 15px;
    color: gray;
}
.PsecondSection .vertical4{
    height: 93px;
    width: 1px;
    background-color: rgb(203, 188, 188);
    margin: 0 180px;
}
.bottom-container{
    background-color: rgb(255, 248, 248);
    padding: 10px;
}
.bottom-container a:hover{
    color: rgb(203, 188, 188);
    font-size: 1.01rem;
}
.bottom-container .bdiv{
    text-align: center;
    padding: 20px 0 20px;
    /* left: 30vw; */
}
.bottom-container .footer-link{
    text-decoration: none;
    color: gray;
    text-align: center;
    margin: 0 4vw;
}
