.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 140px 0px;
}
.firstSection > div{
    width: 30%;
    
}
.leftSection{
    font-size: 3rem;
    
    
}
.leftSection .buttons{
    padding: 50px 0;
}
.leftSection .btn{
    padding: 12px;
    background: rgb(121, 175, 154);
    color: rgb(31, 30, 30);
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    
    
}
.leftSection .btn:hover{
    background-color: rgb(155, 182, 171);
    /* font-size: 1.01rem; */
}
.rightSection img{
    width: 80%;
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.9;
}
.secondSection .box{
    display: flex;
    background-color: rgb(203, 188, 188);
    width: 69vw;
    height: 3px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: rgb(203, 188, 188);
    margin: 0 200px;
}

.footer{
    display: flex;
    margin: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 223px;
}
footer .footer-text-center{
    text-align: center;
    color: gray;
    padding: 12px 0;
}