.sage-green{
    color: rgb(85, 135, 115);
}
.text-grey{
    color: gray;
}
.image-top{
    width: 30px;
    position: relative;
    top: -32px;
    left: -14px;
}
.vertical-title{
    position: relative;
    top: 65px;
    width: 200px;
}
.vertical-desc{
    position: relative;
    top: 80px;
    width: 300px;
    font-size: 15px;
    color: gray;
}
.PsecondSection .vertical1 .image-top{
    width: 70px;
    position: relative;
    top: -60px;
    left: -29px;
}
.PsecondSection .vertical2 .image-top{
        width: 59px;
        position: relative;
        top: -58px;
        left: -29px;
}
.PsecondSection .vertical3 .image-top{
    width: 58px;
    position: relative;
    top: -56px;
    left: -29px;
}
#element{
    color: rgb(85, 135, 115);
}